.main_chat
  .main_header
    .main_header__left
      %p.main_header__left__title
        = @group.name
      %ul.main_header__left__member
        member : 
        %li
          - @group.users.each do |user|
            = user.name
          
    .main_header__right
      .main_header__right__edit
        = link_to 'Edit', edit_group_path(@group)

  .messages
    = render @messages

  .form
    = form_for [@group, @message] do |f|
      = f.text_field :content, class: 'form__message', placeholder: 'type a message'
      .form__mask
        = f.label :image, class: 'form__mask__image' do
          = icon('fas', 'image', class: 'icon')
          = f.file_field :image, class: 'hidden'
      = f.submit 'Send', class: 'form__submit'    

    



  