.side-bar
  .side_header
    .side_header__box
      %h3.header__name
        = current_user.name
      %ul.side_header__box__icon
        %li.list
          = link_to new_group_path do
            = icon('fas', 'pen-square', class: 'icon')
        %li.list
          = link_to edit_user_path(current_user) do
            = icon('fas', 'cog', class: 'icon')
  
  
  
  .groups
    - current_user.groups.each do |group|
      .group
        = link_to group_messages_path(group) do 
          .group__title
            = group.name 
          .group__text
            = group.show_last_message
